<h1>Productos</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - ${{this.price}} ({{this.category}})
      <a href="/products/{{this._id}}">Ver detalle</a>
    </li>
  {{/each}}
</ul>

<div>
  {{#if hasPrev}}
    <a href="/products?page={{prevPage}}&limit={{limit}}{{#if sort}}&sort={{sort}}{{/if}}{{#if query}}&query={{query}}{{/if}}">Prev</a>
  {{/if}}

  Página {{page}} de {{totalPages}}

  {{#if hasNext}}
    <a href="/products?page={{nextPage}}&limit={{limit}}{{#if sort}}&sort={{sort}}{{/if}}{{#if query}}&query={{query}}{{/if}}">Next</a>
  {{/if}}
</div>